section {
    display: block;
}

body {
    font: 30px serif;
}

input {
    font-size: 0.6em;
    width: 20em;
}

.bulla {
    display: inline-block;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
    font-size: 0.5em;
}

.novum-numerum {
    display: none;
}