body {
    font: 30px serif;
    max-width: 640px;
    margin: 0 auto;
}

body section {
    display: block;
}

.verba {
    display: inline-block;
    width: 20em;
    max-width: 95%;
    border: 1px solid black;
}

.verba, .indicium {
    font-size: 0.8em;
    margin: 0;
    padding: 0.1em;
}

.bulla {
    display: inline-block;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
    font-size: 0.5em;
}

.novum-numerum {
    display: none;
}

.modi {
    float: right;
    font-size: 0.7em;
}

.arca-modi {
    text-align: center;
}

.arca-modi span {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #999;
    cursor: pointer;
    min-width: 1.2em;
    padding: 0 0.1em;
}

.arca-modi span.illustrans {
    border: 2px solid black;
}

.arca-modi span.invalidus {
    border: 1px dashed #999;
    color: #888;
}
