body {
    padding: 1em;
    font: 16px "Lucida Grande", "Helvetica", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black;
}

h1 a {
    border: none;
}