body {
    max-width: 480px;
}

h3:before {
    content: "{ ";
}

h3:after {
    content: " }";
}

h4 {
    margin: 0;
    margin-bottom: 0.2em;
}


section {
    margin-bottom: 1em;
    padding-bottom: 0.1em;
}


article {
    display: none;
    margin: 0 0 1em 0.5em;
}

article:last-child {
    margin-bottom: 0.5em;
}

.display {
    display: block;
}

.active {
    background: #eee;
    transition: padding 0.2s ease-out;
}

h2, h3 {
    cursor: default;
}

h4 {
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    h4:hover {
        background: #ddd;
    }
}

.active h4 {
    margin-bottom: 0.5em;
    background: #ddd;
}

h4 {
    padding-left: 0;
    transition: padding-left 0.5s;
}

h4:active, .active h4 {
    padding-left: 0.5em;
}

ul {
    margin: 0.3em 0
}
