h3:before {
    content: "{ ";
}

h3:after {
    content: " }";
}

h4 {
    margin: 0;
    margin-bottom: 0.2em;
}

h4:hover {
    background: #ddd;
}

section {
    padding: 0 0 0.2em 0.2em;
    margin-bottom: 1em;
}


article {
    display: none;
}

.display {
    display: block;
}

.active {
    background: #eee;
    transition: padding 0.2s ease-out;
}

h2 {
    cursor: default;
}

h3, h4 {
    cursor: pointer;
}
