body {
    max-width: 480px;
}

h3:before {
    content: "{ ";
}

h3:after {
    content: " }";
}

h4 {
    margin: 0;
    margin-bottom: 0.2em;
}


section {
    margin-bottom: 1em;
    padding-bottom: 0.1em;
}


article {
    display: none;
}

.active article {
    display: block;
    margin: 0 0 1em 0.5em;
}

article:last-child {
    margin-bottom: 0.5em;
}

.active {
    background: #eee;
    transition: padding 0.2s ease-out;
}

h2, h3 {
    cursor: default;
}

h4 {
    padding-left: 0;
    cursor: pointer;
    background: white;
    transition: padding-left 0.5s, background 0.1s;
}

@media screen and (min-width: 480px) {
    h4:hover {
        background: #ddd;
    }

    a {
        transition: color 0.1s, border-bottom-color 0.1s;
    }

    a[href]:hover {
        color: #777;
        border-bottom-color: #777;
    }
}

.active h4 {
    margin-bottom: 0.5em;
    background: #ddd;
}

h4:active, .active h4 {
    padding-left: 0.5em;
}

ul {
    margin: 0.3em 0
}

li {
    position: relative;
    margin-left: 1em;
}

li:before {
    content: '-';
    position: absolute;
    left: -1em;
}
