@import url('./normalize-4.1.1.css');

* {
    box-sizing: border-box;
}

body {
    padding: 0.5em;
    font: 16px "Lucida Grande", "Helvetica", sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 480px;
}

@media screen and (min-width: 480px) {
    body {
        padding: 1em;
    }
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black;
}

h1, h2, h3 {
    font-family: 'Garamond', 'Times New Roman', sans-serif;
}

h1 a {
    border: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
