data/frequencyTable.json filter=lfs diff=lfs merge=lfs -text
data/inflectionDict.json filter=lfs diff=lfs merge=lfs -text
data/lemmata.json filter=lfs diff=lfs merge=lfs -text
data/failures.json filter=lfs diff=lfs merge=lfs -text
data/crudeFrequencies.txt filter=lfs diff=lfs merge=lfs -text
